absl-py
aiohttp
albumentations
albumentations-experimental
antlr4-python3-runtime
appdirs
async-timeout
attrs
black
cachetools
certifi
cffi
chardet
click
cloudpickle
cycler
decorator
docopt
fsspec
future
google-auth
google-auth-oauthlib
grpcio
horovod
hydra-core
idna
imageio
imgaug
importlib-resources
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
multidict
mypy-extensions
networkx
numpy 
oauthlib
olefile
omegaconf
onnx
onnxruntime
opencv-python
opencv-python-headless
pandas
pathspec
Pillow 
pipreqs
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
pytorch-lightning
pytz 
PyWavelets
PyYAML
regex
requests
requests-oauthlib
rsa
scikit-image
scipy
sentencepiece
Shapely
six 
tensorboard
tensorboard-plugin-wit
tifffile
toml
torch
torchtext
torchvision
tqdm
typed-ast
typing-extensions 
urllib3
Werkzeug
yarg
yarl
